# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [5]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [11]:
# load in the data
azdias = pd.read_csv('../data_Arvato/Udacity_AZDIAS_052018.csv')
customers = pd.read_csv('../data_Arvato/Udacity_CUSTOMERS_052018.csv')

In [9]:
# function to get count for each group
def groupcount(data,sortcol = None):
    '''
    input: 
        data: df[col] or dr.col,dataframe name followed by the column which used to get the group
        sortcol: int, should be 0, 1 or 2, defines which columns used to sort by
    use case: groupcount(df.col1, 0)
    '''
    if data.isnull().sum()>0:
        if data.dtype == 'O':
            data = data.astype(str)
        temp = data.fillna('None').value_counts().reset_index(name='Count')
    else:
        temp = data.value_counts().reset_index(name='Count')
    temp = temp.rename(index=str,columns={'index': 'Group'})
    temp['percent'] = round(temp.Count / temp.Count.sum() *100,1)
    
    if sortcol==1:
        temp = temp.sort_values('Group')
    elif sortcol==2:
        temp = temp.sort_values('Count')
    return temp

# Function to calculate missing values by column# Funct 
def missing_values_table(df):
    import pandas as pd

    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    #Calculate how many columns has bigger than 95% missing, save result to table
    BIGmissingN = mis_val_table_ren_columns.loc[mis_val_table_ren_columns['% of Total Values']>95].count()[1]
    
    # Print some summary information
    #  print ("Total columns: " + str(df.shape[1]) + "\n"      
    #      + "Columns that have missing values: " + str(mis_val_table_ren_columns.shape[0]) + "\n"
    #        + 'Missing>95% column number: ' + str(BIGmissingN))
    
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

Based on the following analysis, we can confirm the three extra columns in customer data, during which we can see 
1. almost half of the customers buy both COSMETIC_AND_FOOD
2. the rest of the customers don't have strong preference between cosmetic and food
3. around 70% of customers are multi-buyer
4. majority of customers are in-store buyers (91%)

based on No.4, my questions is: 
1. does store location plays an important role for target customers?
2. for the 9% online customers, are they far from the store?

In [12]:
print('azdias data shape: {0}; customer data shape: {0}'.format(azdias.shape, customers.shape))
print('extra columns for customer data: ', [e for e in customers.columns if e not in azdias.columns])

print(groupcount(customers['PRODUCT_GROUP']))
print(groupcount(customers['CUSTOMER_GROUP']))
print(groupcount(customers['ONLINE_PURCHASE']))

azdias data shape: (891221, 366); customer data shape: (891221, 366)
extra columns for customer data:  ['PRODUCT_GROUP', 'CUSTOMER_GROUP', 'ONLINE_PURCHASE']
               Group   Count  percent
0  COSMETIC_AND_FOOD  100860     52.6
1               FOOD   47382     24.7
2           COSMETIC   43410     22.7
          Group   Count  percent
0   MULTI_BUYER  132238     69.0
1  SINGLE_BUYER   59414     31.0
   Group   Count  percent
0      0  174356     91.0
1      1   17296      9.0

there are 6 categorical features in the data

In [28]:
print(azdias.dtypes.value_counts())
cat_vars = [e for e in azdias.columns if azdias[e].dtypes == 'object']
azdias[cat_vars].head()

float64    267
int64       93
object       6
dtype: int64

,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,D19_LETZTER_KAUF_BRANCHE,EINGEFUEGT_AM,OST_WEST_KZ
0,NaN,NaN,NaN,NaN,NaN,NaN
1,8A,8,51,NaN,1992-02-10 00:00:00,W
2,4C,4,24,D19_UNBEKANNT,1992-02-12 00:00:00,W
3,2A,2,12,D19_UNBEKANNT,1997-04-21 00:00:00,W
4,6B,6,43,D19_SCHUHE,1992-02-12 00:00:00,W

In [29]:
azdias.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [31]:
missing_values_table(azdias)

                             Missing Values  % of Total Values
ALTER_KIND4                          890016               99.9
ALTER_KIND3                          885051               99.3
ALTER_KIND2                          861722               96.7
ALTER_KIND1                          810163               90.9
EXTSEL992                            654153               73.4
KK_KUNDENTYP                         584612               65.6
ALTERSKATEGORIE_FEIN                 262947               29.5
D19_SOZIALES                         257113               28.8
D19_LOTTO                            257113               28.8
D19_BANKEN_ONLINE_QUOTE_12           257113               28.8
D19_GESAMT_ONLINE_QUOTE_12           257113               28.8
D19_KONSUMTYP                        257113               28.8
D19_LETZTER_KAUF_BRANCHE             257113               28.8
D19_VERSAND_ONLINE_QUOTE_12          257113               28.8
D19_TELKO_ONLINE_QUOTE_12            257113               28.8
D19_VERSI_ONLINE_QUOTE_12            257113               28.8
KBA05_MAXSEG                         133324               15.0
KBA05_MAXAH                          133324               15.0
KBA05_MAXVORB                        133324               15.0
KBA05_MOD1                           133324               15.0
KBA05_MAXHERST                       133324               15.0
KBA05_MAXBJ                          133324               15.0
KBA05_KRSVAN                         133324               15.0
KBA05_KW3                            133324               15.0
KBA05_KW2                            133324               15.0
KBA05_KRSZUL                         133324               15.0
KBA05_KRSOBER                        133324               15.0
KBA05_KRSKLEIN                       133324               15.0
KBA05_KRSHERST3                      133324               15.0
KBA05_KRSHERST2                      133324               15.0
...                                     ...                ...
ANZ_TITEL                             73499                8.2
VHA                                   73499                8.2
UNGLEICHENN_FLAG                      73499                8.2
ANZ_PERSONEN                          73499                8.2
ANZ_KINDER                            73499                8.2
WOHNDAUER_2008                        73499                8.2
SOHO_KZ                               73499                8.2
AKT_DAT_KL                            73499                8.2
EINGEZOGENAM_HH_JAHR                  73499                8.2
RT_UEBERGROESSE                       51226                5.7
HH_EINKOMMEN_SCORE                    18348                2.1
ONLINE_AFFINITAET                      4854                0.5
LP_FAMILIE_FEIN                        4854                0.5
LP_FAMILIE_GROB                        4854                0.5
LP_LEBENSPHASE_FEIN                    4854                0.5
LP_LEBENSPHASE_GROB                    4854                0.5
LP_STATUS_FEIN                         4854                0.5
LP_STATUS_GROB                         4854                0.5
GFK_URLAUBERTYP                        4854                0.5
CJT_TYP_3                              4854                0.5
CJT_TYP_1                              4854                0.5
CJT_TYP_6                              4854                0.5
CJT_TYP_5                              4854                0.5
CJT_GESAMTTYP                          4854                0.5
CJT_TYP_4                              4854                0.5
RT_SCHNAEPPCHEN                        4854                0.5
RT_KEIN_ANREIZ                         4854                0.5
RETOURTYP_BK_S                         4854                0.5
CJT_KATALOGNUTZER                      4854                0.5
CJT_TYP_2                              4854                0.5

[273 rows x 2 columns]

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')